<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>My Profile</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>My Profile</h1>
                    <table class="table">
                            <tr>
                                <th>Nume</th>
                                <td><span th:text="${firstName}"/> <span th:text="${lastName}"/></td>
                            </tr>
                            <tr>
                                <th>Utilizator</th>
                                <td><span th:text="${username}"/></td>
                            </tr>
                            <tr>
                                <th>UUID</th>
                                <td><code><span th:text="${uuid}"/></code></td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

<th:block th:fragment="optional">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
</th:block>

</body>
</html>